[buildout]
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
develop = .
parts = demo test coverage eggdeps
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = z3c.formdemo [app, test]

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage

[eggdeps]
recipe = zc.recipe.egg
eggs = gtkeggdeps
       z3c.formdemo [app, test]

[zope3]
location = .

[form-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="z3c.formdemo" file="application.zcml" />
eggs = z3c.formdemo [app]

[demo]
recipe = zc.zope3recipes:instance
application = form-demo-app
zope.conf = <server>
              address ${options:port}
              type HTTP
            </server>
            ${database:zconfig}

[database]
recipe = zc.recipe.filestorage

[versions]
lxml = 2.1.2
z3c.formdemo =
z3c.form =
z3c.formui =
zope.container = 3.7.0

[options]
port = 8080
