[buildout]
develop = .
parts = demo test coverage

[test]
recipe = zc.recipe.testrunner
eggs = z3c.formdemo [app, test]

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage

[zope3]
location = .

[form-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="z3c.formdemo" file="application.zcml" />
eggs = z3c.formdemo [app]

[demo]
recipe = zc.zope3recipes:instance
application = form-demo-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
